#
#Wed Apr 22 15:58:35 ICT 2020
ProjectVariable.PROJECT_NAME=eDocProcessor_generator
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=com.vpbank.innovation
WEB=src/main/webapp
ProjectVariable.REST_API_ROOT=/api/v1
ProjectVariable.REST_SERVER_PORT=3000
SRC=src/main/java
ENTITY_PKG=com.vpbank.innovation.bean
SpecificTemplatesFolder=
ProjectVariable.MAVEN_ARTIFACT_ID=eDocProcessor_generator
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
SpecificDestinationFolder=
TEST_SRC=src/test/java
ProjectVariable.REST_URL_ROOT=http\://localhost\:3000
TMP=tmp
